@import '../../styles/_variables.scss';
@import '~bulma/sass/utilities/_all.sass';

.link {
  all: unset;
  color: black;
  :hover {
    background-color: $link_hover;
    color: black;
  }
}

.profile_image {
  object-fit: cover;
  border-radius: $radius-small;
  width: 174px;
  height: 174px;

  @media screen and (max-width: 767px) { 
    width: 154px;
    height: 154px;
  }

  @media screen and (max-width: 400px) { 
    width: 124px;
    height: 124px;
  }
}

.profile_details {
  border-bottom: 1px solid $grey-lighter;
  width: 205px;

  @media screen and (max-width: 767px) { 
    width: 175px;
  }

  @media screen and (max-width: 400px) {
    width: 145px;
  }
}

.profile_notes {
  border-bottom: 1px solid $grey-lighter;
}

.profile_button {
  text-align: center;
}