//============= Palette =============

// set rivet brand colors
$blue: #032245;
$orange: #df5d43;
$orange-dark: #ca553e;
$chalice: #acaaaa;
$shark: #21242c;
$faint-grey: #dbdbdb;

$primary: $blue;
$secondary: $orange;
$link: $orange;
$link_hover: $faint-grey;
$input-focus-border-color: $blue;

//============= Spacing And Layout=============
$bodyPaddingX-hd: 2rem;
$navbar-height: 72px;
$navbar-padding-vertical: 10px;
$navbar-breakpoint: 450px;
$widescreen-enabled: false;
$fullhd-enabled: false;


//============= Borders =============
$radius-small: 2px;
$radius: 6px;
$radius-large: 10px;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//============ Typography ===========
$family-primary: 'Roboto', sans-serif;
$family-sans-serif: 'Roboto', sans-serif;


// add global mixins

@mixin flex-style($direction, $wrap, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}