@import '../../styles/_variables.scss';
@import '~bulma/sass/utilities/_all.sass';

.navbar {
  height: $navbar-height;
  border-bottom: 2px solid $black-bis;
  margin-top: 0 !important;

  .navbar-logo {
    object-fit: contain;
    height: $navbar-height;
  }

  .navbar-burger {
    color: black;
  }

  // class allows clickable link to span entire width of screen on mobile menu
  .nav_link {
    width: 100%;
  }
}