@import '../../styles/_variables.scss';
@import '~bulma/sass/utilities/_all.sass';

.form_container {max-width: 600px;
  margin: auto;
  padding: 32px;
  font-weight: bold;
  color: black;
  background-color: $faint-grey;

  @media screen and (min-width: 600px) { 
    margin-top: 25px
  }  

  .error_margin {
    margin-top: 22px
  }

  .error_margin_mobile {
    @media screen and (max-width: 767px) { 
      margin-top: 22px
    }
  }

  .error {
    margin: 0;
    position: absolute;
    color: $red;
  }

  button {
    width: 100%;
  }
}